<!DOCTYPE html>
{% load bootstrap5 %}
{% load bootstrap_icons %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>

<head>
    <title>CV Analytics</title>
    <script>
        var cntr = 0;
        var col_cntr = 0;
        var cntr_pbar = 10000;
        var col_arr = []
        
        // function to convert decimal code into hexadecimal 
        function decimalToHexa(decimal_code, cn) {
            
            document.getElementById('clr').id = cn;
            hexString = parseInt(decimal_code).toString(16);
            if (decimal_code == 0) {
                hexString = "000000"
            }
            if (hexString.length < 6) {
                hexString = "00" + hexString;
            }
            document.getElementById(cn).style.backgroundColor = "#" + hexString;
            col_arr.push(hexString)
            cntr = cntr + 1
            
        }

        // function to calculate page left margin
        function calculateLeftMargin(m, c) {
            document.getElementById('p_bar').id = c;
            if (m > 72) {
                document.getElementById(c).innerHTML = "+" + m + " Pixels";
                // document.getElementById(c).style.backgroundColor = "#CC3333";
                document.getElementById(c).className = "badge bg-danger "
            }
            if (m < 72) {
                document.getElementById(c).innerHTML = "-" + m + " pixels";

                document.getElementById(c).className = "badge bg-danger "
            }
            if (m == 72) {
                document.getElementById(c).innerHTML = m + " pixels"
            }

            document.getElementById(c).style.width = m / 2 + "%";
            cntr_pbar = cntr_pbar + 1
            getColors();
            getUniqueColors();
            
        }

        
        let fnt_tp_lst = [];
        let fnt_size_lst = [];
        function getTableData(){
            
            var fontsizes = document.querySelectorAll('td:nth-child(2)');
            var fonttypes = document.querySelectorAll('td:nth-child(3)');
            var fontcolors = document.querySelectorAll('td:nth-child(4)');
            
            let font_arr_cnt = 1;
            let font_type_cnt = 0;
            
            
                for(fs=ft= 0; fs < fontsizes.length && ft < fonttypes.length; fs++, ft++){
                    if(fontsizes[fs].textContent != fontsizes[fs+1].textContent){
                        font_arr_cnt = font_arr_cnt+1;  
                    }
                    if(fonttypes[ft].textContent != fonttypes[ft+1].textContent){
                        font_type_cnt = font_type_cnt+1;
                        fnt_tp_lst.push(fonttypes[ft].textContent)
                        fnt_size_lst.push(fontsizes[fs].textContent)
                        
                    }
                    
                    // document.getElementById('fnt_sz').innerText = font_arr_cnt;
                    fnt_size_lst.sort();
                    fnt_tp_lst.sort();
        var fntsizcounter=0;
        var fnttypcounter=0;
          for(var t=0; t<fnt_size_lst.length; t++){
            if(fnt_size_lst[t] != fnt_size_lst[t+1]){
                fntsizcounter +=1;
            }
          }
          for(var t=0; t<fnt_tp_lst.length; t++){
            if(fnt_tp_lst[t] != fnt_tp_lst[t+1]){
                fnttypcounter +=1;
            }
          }
          document.getElementById('fnt_sz').innerText = fntsizcounter;
                    document.getElementById('fnt_typ').innerText = fnttypcounter;
                    
                    // document.getElementById('font_type_id').innerText = fnt_tp_lst
                    // document.getElementById('font_size_id').innerText = fnt_size_lst
                    
                }  
        }

        function removeDublicate(){
            arr = fnt_tp_lst.filter( function(item, index, inputArray ){
                return inputArray.indexOf(item) == index;
            });

            
        }
    
        var color_array = [];
        var color_arr_len =0
        
      function getColors(){
        var uniqueArray = Array.from(new Set(col_arr));
        document.getElementById('clr-span').innerText = uniqueArray.length;
        color_array = uniqueArray
        color_arr_len = uniqueArray.length
        
        
      }


      function getUniqueColors(){
          for(var i=0; i<color_arr_len; i++){
        document.getElementById("a"+i).innerText = " ";
        document.getElementById("a"+i).style.backgroundColor = "#"+color_array[i];
          }
      }
      
    
      function callFontList(){
        var c1=0;
        fnt_tp_lst.forEach(el =>{
            
                if(fnt_tp_lst[c1] != fnt_tp_lst[c1+1]){
                document.getElementById("font_type_list").innerHTML += "<div class='container'>"+el+"</div>";
                }
                c1 +=1
        
    })
        var c2=0;
    fnt_size_lst.forEach(el =>{
        if(fnt_size_lst[c2] != fnt_size_lst[c2+1] ){
        document.getElementById("font_size_list").innerHTML += "<div class='container'>"+el+"</div>";
        }
        c2 +=1
    })
   
    document.getElementById('down_arrow_id').style.display = "None"
      }
    
    function callFunctions(){
        getTableData();
        
    }
      
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

    </script>
</head>

<body onload="callFunctions();">
    <div class="container mt-3">

        <h5><span class="badge bg-dark">CV Analytics Result</span></h5>
        <div class="container">
            Uploaded File: <b>{{file_path}} </b>
        </div>
        <hr>
        <h5><span class="badge bg-dark">Summary</span></h5>

        <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold"> Pages </div>
            
              </div>
              <span class="badge bg-secondary rounded-pill">{{get_paragraph_blocks|length}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold"> Page Size <span class="fw-normal">( width X height )</span> </div>
              
                </div>
                <span class="badge bg-secondary rounded-pill">  {{get_pdf_contents.0.width|floatformat:0}} X {{get_pdf_contents.0.height|floatformat:0}} </span>
              </li>
           
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Blocks </div>
                
              </div>
              <span class="badge bg-secondary rounded-pill">{{get_paragraph_blocks.0|length}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Words </div>
               
              </div>
              <span class="badge bg-secondary rounded-pill">{{get_words|last}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Total Font Sizes </div>
                 
                </div>
                <span class="badge bg-secondary rounded-pill"><span id="fnt_sz"></span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Total Font Types </div>
                 
                </div>
                <span class="badge bg-secondary rounded-pill"><span id="fnt_typ"></span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Font Colors  &nbsp;[
                      {% for i in '0123456789'%}
                    <span class="col badge" id="a{{i}}" ></span>
                    {%endfor%} ]</div>
                </div>
                <span class="badge bg-secondary rounded-pill"><span id="clr-span"></span></span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold">Font Types List</div>
                  
                </div>
                
                <span class="">&nbsp;<span id="down_arrow_id" class="badge bg-secondary rounded-pill" style="cursor:pointer" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" onclick="callFontList();" > Show List</span></span>
              </li>
              <div class="row container" style="font-size: smaller;">
                <div class="col-10" id="font_type_list">
                    <!-- <b>Font Type</b> -->
                </div>
                <div class="col-2" id="font_size_list">
                    <!-- <b>Font Size</b> -->
                </div>
            </div>
            
            
            <div class="collapse row" id="collapseExample">
                    <div class="col-6 border" id="font_type_id"></div>
                    <div class="col-6 border" id="font_size_id"> </div>
            </div>
          </ol>





        <!-- <div class="row container ">
            <div class="col-2">
                <h5><span class="badge bg-secondary " data-toggle="tooltip" data-placement="left" title="Number of pages {{get_paragraph_blocks|length}}"> Pages ( {{get_paragraph_blocks|length}} )</span></h5>
            </div>
            <div class="col-2">
                <h5><span class="badge bg-secondary">
                    Blocks ( {{get_paragraph_blocks.0|length}} )</span></h5>
            </div>
            <div class="col-2">
                <h5><span class="badge bg-secondary"> Words ( {{get_words|last}} )</span></h5>
            </div>
            
            <div class="col-3">
                <h5><span class="badge bg-secondary"> Total Font Sizes (  )</span></h5>
            </div>
            
            <div class="col-3">
                <h5><span class="badge bg-secondary"> Font Types (  )</span></h5>
            </div>
        </div> -->
<!-- <br> -->
        <!-- <div class="row container">
            <div class="col-12">
                <h5><span class="badge bg-secondary" > Font Colors (  )</span>
                    
                      
                  </h5>
            </div>
        </div> -->
<br>
<!-- <div class="row container">
    <div class="col-12">
        <h5><span class="badge bg-secondary ">Font Types List</span>
            
        </h5>
    </div>
</div> -->

<!-- <div>
    <h2 id="checking1"></h2>
</div> -->


<br>

<h5><span class="badge bg-dark">Content Details</span></h5>
        <table class="table" style="font-size: smaller;" id="table1" >
            <thead>
                <tr>
                    <th>Contents</th><th>Font Size</th><th>Font Type</th><th>Font Color</th><th>Paragraph Indentation</th>
                </tr>
            </thead>
            <tbody>
                {% for i in get_pdf_contents %}
                {% for j in i.blocks %}
                {% for k in j.lines%}
                {% for l in k.spans%}
                <tr>
                    <td>
                        {{l.text}}
                    </td>
                    <td>
                        {{l.size|floatformat:0}}
                    </td>
                    <td>
                        {{l.font}}
                    </td>
                    <td>
                        <div id="clr" class="badge" style="background-color:#faf6f6;">&nbsp; {{i.color}}</div>
                        <script> decimalToHexa('{{l.color}}', cntr);</script>
                    </td>
                    <td>
                        <div class="progress-bar" role="progressbar" id="p_bar" style="width: 100%" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    <script> calculateLeftMargin('{{l.bbox.0|floatformat:0}}', cntr_pbar); </script>
                    </td>
                </tr>
                {%endfor%}
                {%endfor%}
                {%endfor%}
                {%endfor%}
            </tbody>
        </table>

        <div>
            <h5><span class="badge bg-dark">Paragraphs</span></h5>
            <div class="p-2 row border" style="font-size: smaller;" >
                <div class="col-9 fw-bold">
                    Paragraph Contents
                </div>
                <div class="col-1 fw-bold">
                    Left Margin
                </div>
                <div class="col-1 fw-bold">
                    Top Margin
                </div>
                <div class="col-1 fw-bold">
                    Right Margin
                </div>
            </div>
            {% for i in get_paragraph_blocks %}
                {% for j in i %}
                <div class="p-2 row border" style="font-size: smaller;"> 
                    <div class="col-9">
                        {{j.4}}
                    </div>
                    <div class="col-1">
                        {{j.0|floatformat:0}}
                    </div>
                    <div class="col-1">
                        {{j.1|floatformat:0}}
                    </div>
                    <div class="col-1">
                        {{j.2|floatformat:0}}
                    </div>
                </div>
                {%endfor%}
            {%endfor%}
        </div>
        <br>
    </div>
</body>
</html>
