<!DOCTYPE html>
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
<html>

<head>
    <title>Home</title>
    <script>
    </script>
</head>

<body>
<center>
    <div class=" border container d-flex align-items-center justify-content-center mt-5 p-5">
        <div class="p-4">
        <h4><span class="badge bg-dark">CV Analytics</span></h4>
        <br><br>
        <form method="post" action="get_results" enctype="multipart/form-data">
            {% csrf_token %}
            Upload pdf file:
            <input type="file" name="filepath" id="fileupload1" required onchange="RenameFile();">
            <input type="submit" value="Show Result">
        </form>
    </div>
    </div>
</center>
</body>
</html>
